# Tuple

In [2]:
t=(12,"ASJ",29+98j,22.34,False)

In [3]:
t

(12, 'ASJ', (29+98j), 22.34, False)

In [4]:
type(t[0])

int

In [3]:
type(t)

tuple

In [4]:
t[0:3]

(12, 'ASJ', (29+98j))

In [5]:
t[::-1]

(False, 22.34, (29+98j), 'ASJ', 12)

In [6]:
t[-1::-1]

(False, 22.34, (29+98j), 'ASJ', 12)

In [7]:
t[0:10:2]

(12, (29+98j), False)

In [8]:
t[0]

12

In [11]:
t

(12, 'ASJ', (29+98j), 22.34, False)

In [12]:
t[1][1]

'S'

In [9]:
t[0]="kk"    # It will show error. tuple is imutable.
t

TypeError: 'tuple' object does not support item assignment

In [13]:
t1=(11,1,2,13,14,)
t2=(23.34,"ASJ",23+34j)
t1+t2                    #It will act as "append" operation or we can say that "extend" operation.

(11, 1, 2, 13, 14, 23.34, 'ASJ', (23+34j))

In [14]:
t1*2    # Repeating tuple back to back

(11, 1, 2, 13, 14, 11, 1, 2, 13, 14)

In [16]:
t1.count(1)   # it will give the count of occurrence of perticular element inside the tuple

1

In [17]:
t1.index(14)   # it will give index of what we put in function from tuple

4

In [ ]:
# Tuple inside Tuple

In [23]:
t1=(12,"koko",23+22j,24.66,False,(1,2,3,"a",True),[1,2,33.33,False])
t1

(12,
 'koko',
 (23+22j),
 24.66,
 False,
 (1, 2, 3, 'a', True),
 [1, 2, 33.33, False])

In [26]:
t1[6][2]=66.66       # we can change value inside the tuple only if that value is present in " list " format 
print(t1)            # inside tuple.

(12, 'koko', (23+22j), 24.66, False, (1, 2, 3, 'a', True), [1, 2, 66.66, False])

In [27]:
# LIST TO TUPLE
l=[ 1,2,3,"jj",False ]
tuple(l)

(1, 2, 3, 'jj', False)

In [29]:
# TUPLE TO LIST  
t=(1,2,3,"jj",False)
list(t)

[1, 2, 3, 'jj', False]

In [110]:
t6=("ASJ",1,56+67j,True)   # {IMP} True means 1 in python then it searches 1 in tuple 
t6.index(True)             # and they found at 1st index in tuple.

1

In [118]:
t=(1,2,3)
type(t)

tuple

In [120]:
# BUT
t=(2)
type(t) # Here in tuple only one element is there so it will refer as premitive data type.i.e. int or str. etc

int

## SET {It is Unorder collection, so set does not have index so we can't do any thing with it}

In [32]:
l=[1,2,3,4,5,6,7,8,9,120,120,4,5,6,7]

In [34]:
set(l)  # It will hold only unique element. It will remove all duplicates from set.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 120}

In [35]:
s1={}
type(s) # it will give o/p as dict

dict

In [39]:
# BUT
s2={1,23,33}
type(s2)
          # it will give o/p as set

set

In [40]:
s={1,2,3,4,"ASJ"}
s[2]    # it  is not possible
        # if we want to access the elements from this convert set into list

TypeError: 'set' object is not subscriptable

In [42]:
s.add("HHH")
s

{1, 2, 3, 4, 'ASJ', 'HHH'}

In [43]:
# list inside the set is not possible.
# Reason:- set allways hold unorder collection of unique element   

{1,2,[12,23,44]}

# " WHY? "
# ANS:- You can't add a list to a set because lists are mutable, meaning that you can change the contents
# of the list after adding it to the set.
# Edit:some explanation:The documentation defines a set as an unordered collection of "distinct hashable" 
# objects.

TypeError: unhashable type: 'list'

In [49]:
s={(1,2,30),45,56,(1,2,30)}
s     # it wll remove duplicate tuple

{(1, 2, 30), 45, 56}

In [50]:
s.remove(45) #Remove an element from a set; it must be a member.
s

{(1, 2, 30), 56}

In [52]:
s.discard(56)
s

{(1, 2, 30)}

In [54]:
# difference between remove and discard is look below carefully.
s.remove(76)

KeyError: 76

In [55]:
s.discard(76)

In [57]:
# (The discard() method removes the specified item from the set. 
# This method is different from the remove() method, because the remove() method will raise an error 
# if the specified item does not exist, and the discard() method will not.)

# DICTIONARY

In [1]:
""" In Python, we use dictionaries to check if an item is present or not.
# We can use "integer", "string", "tuples" as "dictionary keys" but cannot use list as a key of it

# Why we can't use list as key?

# Ans:- The builtin list type should not be used as a dictionary key. 
# Note that since tuples are immutable, they do not run into the troubles of lists -
# they can be hashed by their contents without worries about modification. """

' In Python, we use dictionaries to check if an item is present or not.\n# We can use "integer", "string", "tuples" as "dictionary keys" but cannot use list as a key of it\n\n# Why we can\'t use list as key?\n\n# Ans:- The builtin list type should not be used as a dictionary key. \n# Note that since tuples are immutable, they do not run into the troubles of lists -\n# they can be hashed by their contents without worries about modification. '

In [68]:
d={"key1":234,"key2":"ASD",45:"QWE","FGH":[1,2,3,33.4]}
d

{'key1': 234, 'key2': 'ASD', 45: 'QWE', 'FGH': [1, 2, 3, 33.4]}

In [69]:
d["key1"]

234

In [70]:
d[45]

'QWE'

In [83]:
d1={"key1":[12,13,14]}    # List
#        OR
d2={"Key2":(45,67,89)}    # Tuple we can do any thing from this.
#        OR
d3={"Key3":{78,89,90,90,89}} # Dictionary

print(d1,d2,d3)

{'key1': [12, 13, 14]} {'Key2': (45, 67, 89)} {'Key3': {89, 90, 78}}

In [84]:
d4={"key1":[1,2,3],"key2":"SUDH","key1":45}
d4

{'key1': 45, 'key2': 'SUDH'}

In [85]:
d4["key1"]  # Here key1 1st save [1,2,3] then as per above dict last element is again key1 so key1 
            # change it's value to 45 from [1,2,3].# Watch explanation. sir showes how it is working 
            # in memory.

45

In [99]:
# we can put duplicate value in "value" section but not in "key" section.

d5={"key1":[1,2,3],"key2":[1,2,3],"key3":[1,2,3]}
d5

{'key1': [1, 2, 3], 'key2': [1, 2, 3], 'key3': [1, 2, 3]}

In [100]:
d5.keys()
d5.values()
print(d5.keys())
print(d5.values())

dict_keys(['key1', 'key2', 'key3'])
dict_values([[1, 2, 3], [1, 2, 3], [1, 2, 3]])

In [101]:
d.items()

dict_items([('Key3', {89, 90, 78})])

In [102]:
d5

{'key1': [1, 2, 3], 'key2': [1, 2, 3], 'key3': [1, 2, 3]}

In [103]:
# We can add many key-value pair in existing dict.
d5[4]="aa"
d5["pppp"]=123
d5

{'key1': [1, 2, 3], 'key2': [1, 2, 3], 'key3': [1, 2, 3], 4: 'aa', 'pppp': 123}

In [104]:
del d5["key1"]
d5

{'key2': [1, 2, 3], 'key3': [1, 2, 3], 4: 'aa', 'pppp': 123}

In [105]:
# list as key not possible

In [106]:
d5={"key1":[1,2,3],"key2":[1,2,3],"key3":[1,2,3]}
d6={"key3":91,"AS":1996,}

In [108]:
d5.update(d6)   # IMP
d5

{'key1': [1, 2, 3], 'key2': [1, 2, 3], 'key3': 91, 'AS': 1996}

In [109]:
d5+d6 ## not possible

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [114]:
key=("name","no","value","complex","bool")
value=("True")

In [117]:
d=d1.fromkeys(key,value)
print(d)                   # Here one to one maping will happen.

{'name': 'True', 'no': 'True', 'value': 'True', 'complex': 'True', 'bool': 'True'}

# IF ELIF ELSE Statement

In [1]:
24<68

True

In [2]:
a=10
if a<20:
    print("ASJ")

ASJ

In [3]:
income=100
if income<50:
    print("A")
elif income<70:
    print("S")
elif income>90:
    print("J")

J

In [6]:
income=int(input())
if income<50:
    print("A")
elif income<70:
    print("S")
elif income>90:
    print("J")

101
J

In [2]:
Total_price=int(input())
if Total_price >20000:
    Discount=Total_price * .20
    print("D is ", Discount)
elif Total_price <= 7000:
    Discount=Total_price * .05
    print("D is ", Discount)
else:
    print("not be able to give discount")

8000
not be able to give discount

In [10]:
Total_price=int(input())
if Total_price >20000:
    Discount=Total_price * .20
    print("D is ", Discount)
elif Total_price <= 7000:
    Discount=Total_price * .05
    print("D is ", Discount)
else:
    print("not be able to give discount")

6000
D is  300.0

In [11]:
coup = input()
if coup == "SUDHANSHU5":
    print("you will be able to get a discount of 5 % ")
    paid_amount = 7080 - 7080*.05
    print("you will be able to get one neuron with this amount " , paid_amount )
else :
    print("kindly use a valid coupoun code ")

SUDHANSHU5
you will be able to get a discount of 5 %
you will be able to get one neuron with this amount  6726.0

In [6]:
# CODE 
s = input("enter a string to start ")
course = input("enter a course name ")
service = input("enter a service name ")
if s == "oneneuron":
    if course == "DSA":
        print("yes its available under one neruon and in multiple mode for job prepratoin and core concept ")
    elif course == "Blockchain":
        print("this is not aviable as of now , kindly raise your demand and we will fulfil in 60 days ")
    elif course == "FSDS":
        print("yes its availble , youi can start learning ")
    else :
        print("this course is not availble kindly raise your demand ")
elif s  == "oneneuronservice":
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == "module" :
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days.")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.")
    else :
        print("kindly provide us your feedback and we will fulfil")
else :
    print("kindly connect with our team ")

enter a string to start fddf
enter a course name sd
enter a service name sd
kindly connect with our team

In [4]:
#  CODE 1
s = input("enter a string to start ")
course = input("enter a course name ")
service = input("enter a service name ")
if s == "oneneuron":
    if course == "DSA":
        print("yes its available under one neruon and in multiple mode for job prepratoin and core concept ")
    elif course == "Blockchain":
        print("this is not aviable as of now , kindly raise your demand and we will fulfil in 60 days ")
    elif course == "FSDS":
        print("yes its availble , youi can start learning ")
    else :
        print("this course is not availble kindly raise your demand ")
elif s  == "oneneuronservice":
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == "module" :
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days.")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.")
    else :
        print("kindly provide us your feedback and we will fulfil")
else :
    print("kindly connect with our team ")

enter a string to start oneneuron
enter a course name DSA
enter a service name module
yes its available under one neruon and in multiple mode for job prepratoin and core concept

In [5]:
#  CODE 2
s = input("enter a string to start ")
course = input("enter a course name ")
service = input("enter a service name ")
if s == "oneneuron":
    if course == "DSA":
        print("yes its available under one neruon and in multiple mode for job prepratoin and core concept ")
    elif course == "Blockchain":
        print("this is not aviable as of now , kindly raise your demand and we will fulfil in 60 days ")
    elif course == "FSDS":
        print("yes its availble , youi can start learning ")
    else :
        print("this course is not availble kindly raise your demand ")
elif s  == "oneneuronservice":
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == "module" :
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days.")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.")
    else :
        print("kindly provide us your feedback and we will fulfil")
else :
    print("kindly connect with our team ")

enter a string to start oneneuronservice
enter a course name DSA
enter a service name workwithus
*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.

In [1]:
# IMP 1
s = input("enter a string to start ")

if s == "oneneuron":
    course = input("enter a course name ")
    if course == "DSA":
        print("yes its available under one neruon and in multiple mode for job prepratoin and core concept ")
    elif course == "Blockchain":
        print("this is not aviable as of now , kindly raise your demand and we will fulfil in 60 days ")
    elif course == "FSDS":
        print("yes its availble , youi can start learning ")
    else :
        print("this course is not availble kindly raise your demand ")
    
elif s  == "oneneuronservice":
    service = input("enter a service name ")
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == "module" :
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days.")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.")
    else :
        print("kindly provide us your feedback and we will fulfil")
else :
    print("kindly connect with our team ")

enter a string to start oneneuron
enter a course name DSA
yes its available under one neruon and in multiple mode for job prepratoin and core concept

In [2]:
# IMP 2
s = input("enter a string to start ")

if s == "oneneuron":
    course = input("enter a course name ")
    if course == "DSA":
        print("yes its available under one neruon and in multiple mode for job prepratoin and core concept ")
    elif course == "Blockchain":
        print("this is not aviable as of now , kindly raise your demand and we will fulfil in 60 days ")
    elif course == "FSDS":
        print("yes its availble , youi can start learning ")
    else :
        print("this course is not availble kindly raise your demand ")
    
elif s  == "oneneuronservice":
    service = input("enter a service name ")
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == "module" :
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days.")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.")
    else :
        print("kindly provide us your feedback and we will fulfil")
else :
    print("kindly connect with our team ")

enter a string to start oneneuronservice
enter a service name courserequest
*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.

In [2]:
# VV IMP CODE 1
s = input("enter a string to start ")
course = input("enter a course name ")

if s == "oneneuron":
    if course == "DSA":
        print("yes its available under one neruon and in multiple mode for job prepratoin and core concept ")
    elif course == "Blockchain":
        print("this is not aviable as of now , kindly raise your demand and we will fulfil in 60 days ")
    elif course == "FSDS":
        print("yes its availble , youi can start learning ")
    else :
        print("this course is not availble kindly raise your demand by putting s = oneneuronservice")
        s = input("enter a string to start ")      
if s  == "oneneuronservice":
    service = input("enter a service name ")   
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == "module" :
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days.")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.")
    else :
        print("kindly provide us your feedback and we will fulfil")
else :
    print("kindly connect with our team ")

enter a string to start oneneuron
enter a course name fhdfg
this course is not availble kindly raise your demand by putting s = oneneuronservice
enter a string to start oneneuronservice
enter a service name courserequest
*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.

In [1]:
# VV IMP CODE 2
s = input("enter a string to start ")
course = input("enter a course name ")

if s == "oneneuron":
    if course == "DSA":
        print("yes its available under one neruon and in multiple mode for job prepratoin and core concept ")
    elif course == "Blockchain":
        print("this is not aviable as of now , kindly raise your demand and we will fulfil in 60 days ")
    elif course == "FSDS":
        print("yes its availble , youi can start learning ")
    else :
        print("this course is not availble kindly raise your demand by putting s = oneneuronservice")
        s = input("enter a string to start ")      
if s  == "oneneuronservice":
    service = input("enter a service name ")   
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == "module" :
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days.")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.")
    else :
        print("kindly provide us your feedback and we will fulfil")
else :
    print("kindly connect with our team ")

enter a string to start oneneuron
enter a course name dfg
this course is not availble kindly raise your demand by putting s = oneneuronservice
enter a string to start oneneuronservice
enter a service name fghjg
kindly provide us your feedback and we will fulfil

# FOR LOOP

In [4]:
l = [1,2,3,4,5,6,7]
for i in l :
    print(i)

1
2
3
4
5
6
7

In [5]:
l = "ASJ"
for i in l :
    print(i)

A
S
J

In [12]:
# IMP
s = 'this is full stack batch'
for i in range(1,len(s)):
    print(s[-i])

h
c
t
a
b

k
c
a
t
s

l
l
u
f

s
i

s
i
h

In [6]:
l = [ 1, 2.3, 34+87j, "ASF", True ]
for i in l :
    print(type(i))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [4]:
l = [1,2.3,34]
l10=[]
for i in l :
    l10.append(i+2)
l10

[3, 4.3, 36]

In [4]:
l = [1,2.3,34+87j,"ASF",True]
l1=[]
for i in l:
    if type(i) == int:
        l1.append(i)
        print(l1)
    else:
        "blank"

[1]

In [6]:
l = [2.3,34+87j,"ASF",True]
l1=[]
for i in l:
    if type(i) == int:
        l1.append(i)
        print(l1)
    else:
        print("blank")

blank
blank
blank
blank

In [11]:
l = [1,2.3,34+87j,"ASF",True]
l1=[]
l2=[]
l3=[]
l4=[]
l5=[]
for i in l:
    if type(i) == int:
        l1.append(i)
        print("INT",l1 )
    elif type(i)==float:
        l2.append(i)
        print("float",l2)
    elif type(i)==complex:
        l3.append(i)
        print("complex",l3)
    elif type(i)==str:
        l4.append(i)
        print("str",l4)
    elif type(i)==bool:
        l5.append(i)
        print("bool",l5)
    else:
        Print("blank")

INT [1]
float [2.3]
complex [(34+87j)]
str ['ASF']
bool [True]

In [5]:
l = [2,45,78,12,"sudh" , 6+7j,[56,67,78,"dsfdsf"]]
for i in l :
    if type(i) == int :
        print(i)
    elif type(i) == list:
        for j in i :
            if type(j) == int:
                print(j)

2
45
78
12
56
67
78

In [15]:
# RANGE FUNCTION
range(5)

range(0, 5)

In [16]:
list(range(5))

[0, 1, 2, 3, 4]

In [17]:
range(1,5)

range(1, 5)

In [18]:
list(range(1,5))

[1, 2, 3, 4]

In [ ]:
# TEST

In [12]:
l = [2,45,78,12,12,12,12,"sudh" , 6+7j,[56,67,78,"dsfdsf"]]
#q1 . try to print index of all the element 
#q2 . Try to extract all the list of char if element is string 
#q3 . Try to return a list after doing a square of all the int element

In [28]:
# Q1
l = [2,45,78,12,12,12,12,"sudh" , 6+7j,[56,67,78,"dsfdsf"]]
for i in range(len(l)):
    print("index" , i  , "for an element " , l[i])

index 0 for an element  2
index 1 for an element  45
index 2 for an element  78
index 3 for an element  12
index 4 for an element  12
index 5 for an element  12
index 6 for an element  12
index 7 for an element  sudh
index 8 for an element  (6+7j)
index 9 for an element  [56, 67, 78, 'dsfdsf']

In [29]:
                                        # OR
# IMP
for i,j  in enumerate(l):
    print(i ,j)

0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sudh
8 (6+7j)
9 [56, 67, 78, 'dsfdsf']

In [76]:
t=(1,2,3,4)    
for i in range(len(t)-1,-1,-1):   # in tuple total elements are 4 but indexing start from 0 i.e.[0 1 2 3] 
      print(t[i])

4
3
2
1

In [45]:
# Q2
for i in l :
    if type(i) == str :
        l1 = []
        for j in i :
            l1.append(j)
        print(l1)

['s', 'u', 'd', 'h', ' ', 'd', 'e', 's', 'i']

In [31]:
# Q3
l = [2,45,78,12,12,12,12, "sudh" , 6+7j,[56,67,78,"dsfdsf"]]
l2=[]
for i in l:
    if type(i)==int:
        l2.append(i**2)
l2

[4, 2025, 6084, 144, 144, 144, 144]

In [3]:
l = [2,45,78,12,12,12,12, "sudh desi" , 6+7j,[56,67,78,"dsfdsf"]]
l3=[]
for i in l:
    if type(i)== str:
        print( i.split())
        for j in i:
            l3.append(j)
    elif type(i)== list:
        for k in i:
            if type(k)==str:
                 l3.append(k)
            
l3

['sudh', 'desi']

['s', 'u', 'd', 'h', ' ', 'd', 'e', 's', 'i', 'dsfdsf']

In [57]:
# IMP
l = [2,45,78,12,"sudh", 6 + 7j, [56,67,78,"hhdh"]]
sqr = []
for i in range(len(l)):
    if type(l[i]) == list :
        print("It is list")
        for j in range(len(l[i])):
            if type(l[i][j]) == int:
                m = l[i][j]**2
                sqr.append(m)
sqr

flag

[3136, 4489, 6084]

In [61]:
                                  # DIFFERENCE BETWEEN EXTEND AND APPEND
l = [1,2,3]
s =  [1,2,3,[23,'s',32,'4r5'],'s']
l.extend(s)
l                                # 's' first unlist itself and then add into 'l'.

[1, 2, 3, 1, 2, 3, [23, 's', 32, '4r5'], 's']

In [62]:
l = [1,2,3]
s =  [1,2,3,[23,'s',32,'4r5'],'s']
l.append(s)
l                       # Here 's'is added into 'l'directly.

[1, 2, 3, [1, 2, 3, [23, 's', 32, '4r5'], 's']]