## 8th JAN

In [1]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [2]:
test(34,56,76,787,878)

(34, 56, 76, 787, 878)

In [3]:
def test1(*args): # if we want to give n no of inputs then use '*'sign.
    return args

In [4]:
test1(45,56,78)

(45, 56, 78)

In [5]:
test1(45,34,"sudh" , 45.67)

(45, 34, 'sudh', 45.67)

In [6]:
test1([1,2,43,4,5] , (45,67,76,78) , "fsdf" , 345+7j)

([1, 2, 43, 4, 5], (45, 67, 76, 78), 'fsdf', (345+7j))

In [11]:
def test2(*aniket):
    return aniket

In [12]:
test2("fsdfsdf",345,"234234",345)

('fsdfsdf', 345, '234234', 345)

In [13]:
def test3(*aniket , a):
    return aniket , a

In [14]:
test3(34,56,767 , a = 6546)

((34, 56, 767), 6546)

In [17]:
def test4(*aniket , a,b,c,d):
    return aniket , a,b,c,d

In [18]:
test4(345,353,656,76 , a = [4,5,7,7,4] , b = [35445,65,65,56] , c= "dfsfs" , d = 345.656)

((345, 353, 656, 76), [4, 5, 7, 7, 4], [35445, 65, 65, 56], 'dfsfs', 345.656)

In [23]:
def test3( a , *ani):
    return ani , a

In [24]:
test3("fsadf" , 2354,54,56)

((2354, 54, 56), 'fsadf')

In [25]:
def test3( a , *ani):
    return a,ani

In [22]:
test3("fsadf" , 2354,54,56,a = "fsadf")   # Now here it will show you an error. while writing in function we  
                                          # mention arguments (a,*ani). but while calling we gave multiple
                                          # inputs,so funtion's arguments is taking values
                                          # sequntially i.e a="fsasf", *ani=>2354,54,56 .but whlie calling func
                                          # we gave a="fsadf"seperately so thats why it is showing an error.

TypeError: test3() got multiple values for argument 'a'

In [26]:
# so do this kind of code which will not give you an error.
def test5(a , *sudh , b ,c ):
    return a , sudh,b,c

In [27]:
test5("sfds" , [2,3,4,5] , 45,6,56,5,6,67,6,7,b = 6,c = 7)

('sfds', ([2, 3, 4, 5], 45, 6, 56, 5, 6, 67, 6, 7), 6, 7)

In [28]:
def test6(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [29]:
test6(45,67,67,76,[23,54,5,4,565656])

[[23, 54, 5, 4, 565656]]

In [30]:
test6(546,675,67567,567, [3,434,56,54] , [234,6,678] , "sdfs")

[[3, 434, 56, 54], [234, 6, 678]]

In [31]:
# now if we want o/p as dict. i.e. in the form of keys and value then while writing function use '**'
def test7(**kwargs):
    return kwargs

In [32]:
test7(a = 345,b =[45,5,54,6,6])

{'a': 345, 'b': [45, 5, 54, 6, 6]}

In [33]:
def test8(**anik) :
    return anik

In [34]:
test8(b = 787 , g = 235, f = [345,546,76,78,87,87])

{'b': 787, 'g': 235, 'f': [345, 546, 76, 78, 87, 87]}

In [35]:
def test9(**anik) :
    return anik

In [36]:
test9(name = "sudh"  , age  = "31" , phone_number = "4234" , mail_id = "sdfsdfd@dsdg.com")

{'name': 'sudh',
 'age': '31',
 'phone_number': '4234',
 'mail_id': 'sdfsdfd@dsdg.com'}

In [37]:
test9(name = "sudh"  , age  = "31" , phone_number = "4234" , mail_id = "sdfsdfd@dsdg.com" , adr = "fsasaffsa")

{'name': 'sudh',
 'age': '31',
 'phone_number': '4234',
 'mail_id': 'sdfsdfd@dsdg.com',
 'adr': 'fsasaffsa'}

In [39]:
def test10(a, **anik):
    return anik , a

In [49]:
test10(56,47,88,99) # Here Error will come beacuse we are using "**" in function. So after calling we have
                    # to mention key value pair in it.

TypeError: test10() takes 1 positional argument but 4 were given

In [40]:
test10(45,t = 67,b = 78,c = 7,d = 8,e = 78) # here what we have done we gave value in funtion. when we write 
                                            # t=67.then o/p it is auto. converting it into 't' i.e. into string.

({'t': 67, 'b': 78, 'c': 7, 'd': 8, 'e': 78}, 45)

In [57]:
def test12(a ,**kwargs,*args):     # Sequence should be (a,'*','**') 
    return a , args, kwargs

SyntaxError: invalid syntax (<ipython-input-57-e976891c7d9e>, line 1)

In [58]:
def test12(a , *args, **kwargs) :
    return a , args, kwargs

In [59]:
test12(45,676,7,8,9,90,2,s="oo",k=99)

(45, (676, 7, 8, 9, 90, 2), {'s': 'oo', 'k': 99})

In [ ]:
def test13(a,b):
    return a*b

In [60]:
# lambda

In [67]:
a=lambda a,b:a*b,a+b # Here it will show us Error.
a(30,25)

NameError: name 'b' is not defined

In [68]:
a=lambda a,b:(a*b,a+b)
a(30,25)

(750, 55)

In [63]:
a=lambda *a:a       #  we can give Multiple input.

In [64]:
a(67,44,89)

(67, 44, 89)

In [77]:
v = lambda *i : i**2    # As we know o/p of function is tuple Here in o/p,tuple is coming and (tuple * tuple)   
v(5)                    # operation is not goning to work.

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [70]:
x=lambda x: [i for i in x]

In [71]:
x([4,5,6])

[4, 5, 6]

In [78]:
a = lambda **kwargs : kwargs

In [80]:
a(d  = 45, b = 56)

{'d': 45, 'b': 56}

In [111]:
a = 10 
def test16(c,d):
    return c*d
test16(a,50)
# Here we are getting o/p as'500'. because a=10 we declare it globally i.e. outside the funtion.
# Means if we call a= what? then we will get a='10' as an o/p.
# "Now here what is going see, while calllig a function function we are giving value(a,50)so here 
# c=a,and as we know that a=10 so (c*d)==>(10*50)=500 that why we are getting 500 as Ans".

500

In [1]:
""" ?? ask to sanket"""

a=10 #(global value)       # Now see the difference between above code and following code. Here also ans is 500 
def test16(c,d):           # because while executing code it will take c=5 but when we call function and assign
    a=5 #(local Value)     # value (a,50) i.e. c=a and as we know that a=10 therefore c=10 it is taking global 
    return c*d             # value not local value.
test16(a,50)

500

In [104]:
a = 10                 # Now see what is happening here while calling function we are giving valus as (a,50) 
def test16(c,d):       # i.e.c=a,as we know that a=10 therefore c=10 & d=50 but after executing function,
                       # it is chaninge value of c from "10" to "5"
    c=5                # hence we are getting o/p as 250. not an 500.
    return c*d
test16(a,50)

250

In [117]:
c = 10               # Now see what is happening here while calling function we are giving valus as (c,50)
def test16(c,d):     # i.e. c=10 (it will take global value) & d=50 but while executing function,it is changing 
                     # value of c from "10" to "5".
    c=5              # hence we are getting o/p as 250. not an 500. And also here there in no impact of global
    return c*d       # variable.
test16(c,50)

250

In [93]:
c # we are getting c=10 not c=5 it is taking global value.

10

In [118]:
## LIST COMPREHENSION (reamining topic covering along with function)

In [119]:
l = [1,2,3,4,56,78,7,88,7]
l1 = []
for i in l :
    l1.append(i+2)

In [120]:
l1

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [122]:
def test17(a) :
    l1 = []
    for i in a :
        l1.append(i+2)
    return l1

In [123]:
test17(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [124]:
a = lambda a : [i+2 for i in a ]

In [125]:
a(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [126]:
l

[1, 2, 3, 4, 56, 78, 7, 88, 7]

In [127]:
[(i**2,i+i) for i in l if i< 4]

[(1, 2), (4, 4), (9, 6)]

In [128]:
[(i**2,i+i) for i in l if i< 4 if i>1] # we can give multiple 'if' condition.

[(4, 4), (9, 6)]

In [129]:
d = {1:1 , 2 :4 , 3:9}

In [130]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [132]:
d1 = {}
for i in range(10) : 
    d1[i] = i**2
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [133]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

## IMP TOPIC

In [136]:
a=56                # See error. i.e. IMP
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [138]:
s="sudh"                    # not getting error.because string is itrable object.
for i in s:
    print(i)

s
u
d
h

In [140]:
next(s)  # see error. now it is showing that str is not 'iterator'.
         # as we know next() function is giving us one one element at a time but ony when if object is itrator.
         # and as we know that string is itrable and next function is saing that i am not be able to itrate it.

TypeError: 'str' object is not an iterator

In [141]:
# string is itrable object yes or not? ans- yes it is. 
# But is the string is an itrator? ans:-no it is not.




# what is Diff between itrable and itrator ?


# Ans:-If an object is holding values with hepl of some sort of indexes and if you are able to acces 
# it one by one whith help of indexs that object is called as "itrable object".

# An "iterator" is an object that contains a countable number of values. An iterator is an object that can be 
# iterated upon, meaning that you can traverse through all the values. Technically, in Python, an iterator is
# an object which implements the iterator protocol, which consist of the methods __iter__() and __next__() .

In [142]:
s

'sudh'

In [143]:
b=iter(s)   # now here iter() funcion is converting itrable object into itrator.

In [144]:
next(b)  # now if we execute it, it will not give us error it will give us 's' in consol. Next function works
         # only when object is iterator and in above cell we convert itrable object into iterator with help of
         # iter function.
         # now see it in following 2/3 cell.

's'

In [145]:
next(b)

'u'

In [146]:
next(b)

'd'

In [147]:
next(b)

'h'

In [ ]:
# Now see below how for loop works internally.

s="sudh"       # as we know that string is itrable. now             
for i in s:    # for loop will 1st convert itrable object (i.e.given string ="sudh")into itrator by using iter()
    print (i)  # function then by using next() next() it is giving us all elementsin sequence.

In [3]:
l = [3,4,5,6,6]

In [4]:
next(l)

TypeError: 'list' object is not an iterator

In [5]:
l = iter(l)

In [6]:
next(l)

3

In [7]:
next(l)

4

In [8]:
next(l)

5

In [9]:
next(l)

6

In [10]:
next(l)

6

In [11]:
next(l)  # iteration stop

StopIteration:

In [ ]:
# same error will come as like of string. so do same procedure with it as we did on string.

In [150]:
# now see
iter(45)

TypeError: 'int' object is not iterable

In [1]:
# here we cant do any thing like string. Because we can convert only "itrable object" into an "itrator",not 
# other one.thats why we cant do any cahnges into in above case. because 45 is not itrable.hence we cant make 
# it itrator. 
# int,bool,float,complex all these object are not itrable. hence we can't convert it into itrator.

In [22]:
r = range(6)

In [23]:
next(r)

TypeError: 'range' object is not an iterator

In [24]:
r = iter(r)

In [25]:
next(r)

0

In [26]:
next(r)

1

In [12]:
# Remember one thing indexing and itration operation both are different.
# indexing means we are heating one of the target variable but in itration operation we are moving to each
# elements one by one sequentially.

In [13]:
# All itrable object qre itrator.

## DOUBTS OF OTHERS

In [15]:
a={1:"a",2:"b",3:"c"}
up={4:"d"}
def insertion_beginning(dic,upk):
      upk.update(dic)
      print(upk)
      return upk
insertion_beginning(a,up)

{4: 'd', 1: 'a', 2: 'b', 3: 'c'}

{4: 'd', 1: 'a', 2: 'b', 3: 'c'}

In [16]:
def test(*ankit):
    for i in ankit:
        
        if type(i)==list:
            return ankit

In [17]:
test(345,56,56,56,5,6,56,56,[3,4,56,7,67,6,7])

(345, 56, 56, 56, 5, 6, 56, 56, [3, 4, 56, 7, 67, 6, 7])

In [28]:
def test(*ankit):
    for i in ankit:
        if type(i)==list:
            return i

In [29]:
test(345,56,56,56,5,6,56,56,[3,4,56,7,67,6,7])

[3, 4, 56, 7, 67, 6, 7]

In [30]:
def test():
    i = 0
    while i< 4:
        yield i 
        i=i+1

In [31]:
[i for i in test()]

[0, 1, 2, 3]

## 9th JAN

In [32]:
# Defination of Generator.
# Generator is kind of object which allows you to hold info about a previous data set you have generated 
# and logic by which you have generated previous data set so that you will be generate next data set.

In [33]:
list(range(0,45,3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

In [3]:
def gencube(n) :
    l = []
    for i in range(n) : 
        l.append(i**3)
    return l

In [50]:
gencube(6)

[0, 1, 8, 27, 64, 125]

In [5]:
gencube(60)  # Now see what is happeneing here.. This function is taking some time after calling it and giving 
             # value to it. why it is taking some time?  Understand this 1st..
             # Here it is taking one number from range whatever we had given,squaring itself and appendig into 
             # the list 'l'. 
            
             # Aftre completion of entire trivarsal of range number and after producing there cube it is 
             # appendig into the list one by one and it is giving us final o/p when entire list gets created 
             # In short it is wating till unless and untill entire list gets created. 
             # so if we call function like gencube(6) so it will print o/p in 2 sec. 
             # but if call same funtion like this gencube(60).so it will take 6 sec to show o/p.because value 
             # of n is increase from 6 to 60. so automaticallly time will increase to show the o/p.

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379]

In [53]:
list(range(0,15)) # here we are getting o/p instantly. why it is so? let us see.
                  # range function is not using entire list element then it is trying to give you some 
                  # sort of record.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [57]:
for i in range(10):  # what is happening over here range function is generating value one by one and giving it 
     print(i)        # into the consol (i.e. giving us o/p). It will not wait for the complete process.

0
1
2
3
4
5
6
7
8
9

In [58]:
def gencube(n) :       # what yield is doing here. it is just memorising last value and logic and where we have
                         # to stop thats all.   
    for i in range(n) :  # There is no need to remembar entir previous no.list to generate following no list.
        yield i**3

In [59]:
gencube(10)

In [60]:
 for i in gencube(10):
        print(i)

0
1
8
27
64
125
216
343
512
729

In [70]:
# fibonachi series

In [71]:
def fib(n): #(n)=(10)
    a = 1
    b = 1
    for i in range(n): ##[0,1,2,3,4,5,6,7,8,9]
        yield a,i
        a,b = b , a+b

#   ith(itration)        a         i    ;    a=b            a+b=b

#                        |-----------------------------------|     
#                        |                    |----------|   |             
#         0th            1         0    ;     1          |  (1+1)=2 
#                      (mention            (mention      |-----|  |
#                      in above)           in above i.e.          |
#                                          in line no 6)          |
#                                           |   ------------------|
#                                  |--------|   |
#                                  |            V
#         1st           1          1    ;      2             (1+2)=3
#                                           (from above          |
#                                           itration)            |
#                                 |----------|  |----------------- 
#                                 |             |
#                                 |             V    
#         2nd           2         2     ;      3             (2+3)=5
#                                           (from above
#                                            itration)


#         3rd           3         3     ;     5              (3+5)=8         
#                                           (from above
#                                            itration)


#         4th           5         4     ;      8             (8+5)=13
#                                           (from above
#                                            itration)

In [72]:
for i in fib(10):
    print(i)

(1, 0)
(1, 1)
(2, 2)
(3, 3)
(5, 4)
(8, 5)
(13, 6)
(21, 7)
(34, 8)
(55, 9)

In [68]:
def fib1(n) : 
    a = 1
    b = 1
    output = []
    for i in range(n) : 
        output.append(a)
        a,b = b , a+b
    return output

In [69]:
fib1(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [73]:
 ## File System

In [74]:
print("something in console")

something in console

In [6]:
dir() # it is going to give me current directory whatever things are available.

['In',
 'Out',
 '_',
 '_1',
 '_4',
 '_5',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'exit',
 'gencube',
 'get_ipython',
 'quit',
 'test16']

In [98]:
f = open("test1.txt","w") # " W "==> Write mode  OR "r"==> read mode

In [99]:
!ls  # It is going to list of all files which are available in my current system or in my current directory 
     # so whatere files are avail. it is gonig to give it to us.
    
    # Now here test1.txt file created see below.

1#_iNEURON_PYTHON_4DEC_&_5DEC_2021.ipynb
2#_iNEURON_PYTHON_18DEC_&_19DEC_2021.ipynb
3#_iNEURON_PYTHON_20DEC_&_21DEC_2021.ipynb
4#_iNEURON_PYTHON_23DEC_2021.ipynb
5#_iNEURON_PYTHON_8JAN_&_9JAN_2021.ipynb
6#_iNEURON_PYTHON_15JAN_&_16JAN_2021.ipynb
7#_iNEURON_PYTHON_22JAN_&_23JAN_2021.ipynb
Applications
DATA SCIENCE 1 (NUMPY , PANDAS).ipynb
DATA SCIENCE 2 (MATPLOTLIB, SEABORN, PANDAS BUILT IN DATA VISUALIZATION, PLOTLY, GEOGRAPHICAL-PLOTING).ipynb
Desktop
Documents
Downloads
Library
Movies
Music
PDF & CSV WITH PYTHON .ipynb
PYTHON 2021.ipynb
Pictures
Public
Working_Business_Proposal.pdf
example.csv
seaborn-data
test.txt
test1.txt
test2.txt
testfile

In [100]:
pwd() # it is going to tell me my present directory. pwd means "Present Working Directory"

'/Users/aniketsatishjoshi'

In [101]:
f = open("test2.txt","w") # " W "==> Write mode  OR "r"==> read mode

In [102]:
!ls      # now here we  created 2nd text file.

1#_iNEURON_PYTHON_4DEC_&_5DEC_2021.ipynb
2#_iNEURON_PYTHON_18DEC_&_19DEC_2021.ipynb
3#_iNEURON_PYTHON_20DEC_&_21DEC_2021.ipynb
4#_iNEURON_PYTHON_23DEC_2021.ipynb
5#_iNEURON_PYTHON_8JAN_&_9JAN_2021.ipynb
6#_iNEURON_PYTHON_15JAN_&_16JAN_2021.ipynb
7#_iNEURON_PYTHON_22JAN_&_23JAN_2021.ipynb
Applications
DATA SCIENCE 1 (NUMPY , PANDAS).ipynb
DATA SCIENCE 2 (MATPLOTLIB, SEABORN, PANDAS BUILT IN DATA VISUALIZATION, PLOTLY, GEOGRAPHICAL-PLOTING).ipynb
Desktop
Documents
Downloads
Library
Movies
Music
PDF & CSV WITH PYTHON .ipynb
PYTHON 2021.ipynb
Pictures
Public
Working_Business_Proposal.pdf
example.csv
seaborn-data
test.txt
test1.txt
test2.txt
testfile

In [103]:
# now if we want to write in any thing into the text file then do following thing
f=open('test1.txt',"w")

In [104]:
f.write("this is me")

10

In [105]:
f.close()

In [106]:
# In above 'open' 'write' and 'close' all operation. must have to perform.
#                                         OR 
# See below code we can do same operation with help of following code also.

# %%writefile test2.txt
# this is aniket.

In [107]:
%%writefile test1.txt
Hello aniket

Overwriting test1.txt

In [108]:
f=open('test1.txt')
f.read()

'Hello aniket\n'

In [112]:
f.read() # if execute again it will give us blank ''.
# it means end of line of character.
# because cursor is avil at last postion in file.

# how to bring the cursor at 1st postion if we want to read the file again and again. 
# ==>use Seek() function

''

In [116]:
f.seek(4) # Here reset the cursor but at 4th index.
f.read()

'o aniket\n'

In [117]:
f.seek(0) # Here it help to reset the cursor.
f.read()

'Hello aniket\n'

In [120]:
f.tell() # It will tell you the position cursor.

13

In [121]:
f.close()

In [122]:
f = open("test1.txt" , "r+")

In [123]:
f.read()

'Hello aniket\n'

In [124]:
f.readline() # here my cursor is at last postion so i will change it.

''

In [125]:
f.tell()

13

In [126]:
f.seek(0)

0

In [127]:
f.readline()

'Hello aniket\n'

In [128]:
# Diff between read and read line.

# read() will show you entire data but readline() will show you data line by line.

In [129]:
f = open('google.txt' , "w")

In [130]:
f.write("""Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware. It is considered one of the Big Five companies in the American information technology industry, along with Amazon, Apple, Meta (Facebook) and Microsoft.[10]

Google was founded on September 4, 1998, by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University in California. Together they own about 14% of its publicly-listed shares and control 56% of the stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly-owned subsidiary of Alphabet Inc.. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet.[11]

In 2021, the Alphabet Workers Union was founded, mainly composed of Google employees.[12]

The company's rapid growth since incorporation has included products, acquisitions, and partnerships beyond Google's core search engine, (Google Search). It offers services designed for work and productivity (Google Docs, Google Sheets, and Google Slides), email (Gmail), scheduling and time management (Google Calendar), cloud storage (Google Drive), instant messaging and video chat (Google Duo, Google Chat, and Google Meet), language translation (Google Translate), mapping and navigation (Google Maps, Waze, Google Earth, and Street View), podcast hosting (Google Podcasts), video sharing (YouTube), blog publishing (Blogger), note-taking (Google Keep and Jamboard), and photo organizing and editing (Google Photos). The company leads the development of the Android mobile operating system, the Google Chrome web browser, and Chrome OS (a lightweight, proprietary operating system based on the free and open-source Chromium OS operating system). Google has moved increasingly into hardware; from 2010 to 2015, it partnered with major electronics manufacturers in the production of its Google Nexus devices, and it released multiple hardware products in 2016, including the Google Pixel line of smartphones, Google Home smart speaker, Google Wifi mesh wireless router. Google has also experimented with becoming an Internet carrier (Google Fiber and Google Fi).

Google.com is the most visited website worldwide. Several other Google-owned websites also are on the list of most popular websites, including YouTube and Blogger.[13] On the list of most valuable brands, Google is ranked second by Forbes[14] and fourth by Interbrand.[15] It has received significant criticism involving issues such as privacy concerns, tax avoidance, censorship, search neutrality, antitrust and abuse of its monopoly position.""")

3006

In [131]:
f.close()

In [133]:
f = open("google.txt","r+")

In [134]:
f.read()

"Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware. It is considered one of the Big Five companies in the American information technology industry, along with Amazon, Apple, Meta (Facebook) and Microsoft.[10]\n\nGoogle was founded on September 4, 1998, by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University in California. Together they own about 14% of its publicly-listed shares and control 56% of the stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly-owned subsidiary of Alphabet Inc.. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet.[11]\n\nIn 2021, the Alphabet Workers Union was founded, mainly composed of Google employees.[12]\n\nThe company's rapid growth since incorporation has included products, acquisitions, and partnerships beyond Google's core search engine, (Google Search). It offers services designed for work and productivity (Google Docs, Google Sheets, and Google Slides), email (Gmail), scheduling and time management (Google Calendar), cloud storage (Google Drive), instant messaging and video chat (Google Duo, Google Chat, and Google Meet), language translation (Google Translate), mapping and navigation (Google Maps, Waze, Google Earth, and Street View), podcast hosting (Google Podcasts), video sharing (YouTube), blog publishing (Blogger), note-taking (Google Keep and Jamboard), and photo organizing and editing (Google Photos). The company leads the development of the Android mobile operating system, the Google Chrome web browser, and Chrome OS (a lightweight, proprietary operating system based on the free and open-source Chromium OS operating system). Google has moved increasingly into hardware; from 2010 to 2015, it partnered with major electronics manufacturers in the production of its Google Nexus devices, and it released multiple hardware products in 2016, including the Google Pixel line of smartphones, Google Home smart speaker, Google Wifi mesh wireless router. Google has also experimented with becoming an Internet carrier (Google Fiber and Google Fi).\n\nGoogle.com is the most visited website worldwide. Several other Google-owned websites also are on the list of most popular websites, including YouTube and Blogger.[13] On the list of most valuable brands, Google is ranked second by Forbes[14] and fourth by Interbrand.[15] It has received significant criticism involving issues such as privacy concerns, tax avoidance, censorship, search neutrality, antitrust and abuse of its monopoly position."

In [135]:
f.seek(0)

0

In [136]:
f.readline()

'Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware. It is considered one of the Big Five companies in the American information technology industry, along with Amazon, Apple, Meta (Facebook) and Microsoft.[10]\n'

In [137]:
f.readline()

'\n'

In [138]:
f.readline()

"Google was founded on September 4, 1998, by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University in California. Together they own about 14% of its publicly-listed shares and control 56% of the stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly-owned subsidiary of Alphabet Inc.. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet.[11]\n"

In [139]:
f.readline()

'\n'

In [140]:
f.readline()

'In 2021, the Alphabet Workers Union was founded, mainly composed of Google employees.[12]\n'

In [141]:
f.readline()

'\n'

In [142]:
f.readline()

"The company's rapid growth since incorporation has included products, acquisitions, and partnerships beyond Google's core search engine, (Google Search). It offers services designed for work and productivity (Google Docs, Google Sheets, and Google Slides), email (Gmail), scheduling and time management (Google Calendar), cloud storage (Google Drive), instant messaging and video chat (Google Duo, Google Chat, and Google Meet), language translation (Google Translate), mapping and navigation (Google Maps, Waze, Google Earth, and Street View), podcast hosting (Google Podcasts), video sharing (YouTube), blog publishing (Blogger), note-taking (Google Keep and Jamboard), and photo organizing and editing (Google Photos). The company leads the development of the Android mobile operating system, the Google Chrome web browser, and Chrome OS (a lightweight, proprietary operating system based on the free and open-source Chromium OS operating system). Google has moved increasingly into hardware; from 2010 to 2015, it partnered with major electronics manufacturers in the production of its Google Nexus devices, and it released multiple hardware products in 2016, including the Google Pixel line of smartphones, Google Home smart speaker, Google Wifi mesh wireless router. Google has also experimented with becoming an Internet carrier (Google Fiber and Google Fi).\n"

In [143]:
f.readline()

'\n'

In [144]:
f.readline()

'Google.com is the most visited website worldwide. Several other Google-owned websites also are on the list of most popular websites, including YouTube and Blogger.[13] On the list of most valuable brands, Google is ranked second by Forbes[14] and fourth by Interbrand.[15] It has received significant criticism involving issues such as privacy concerns, tax avoidance, censorship, search neutrality, antitrust and abuse of its monopoly position.'

In [147]:
f.close()

In [148]:
f = open("google.txt" , "r+")    # IMP code
for line in f :
    print(line , end = " ")

Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware. It is considered one of the Big Five companies in the American information technology industry, along with Amazon, Apple, Meta (Facebook) and Microsoft.[10]

 Google was founded on September 4, 1998, by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University in California. Together they own about 14% of its publicly-listed shares and control 56% of the stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly-owned subsidiary of Alphabet Inc.. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet.[11]

 In 2021, the Alphabet Workers Union was founded, mainly composed of Google employees.[12]

 The company's rapid growth since incorporation has included products, acquisitions, and partnerships beyond Google's core search engine, (Google Search). It offers services designed for work and productivity (Google Docs, Google Sheets, and Google Slides), email (Gmail), scheduling and time management (Google Calendar), cloud storage (Google Drive), instant messaging and video chat (Google Duo, Google Chat, and Google Meet), language translation (Google Translate), mapping and navigation (Google Maps, Waze, Google Earth, and Street View), podcast hosting (Google Podcasts), video sharing (YouTube), blog publishing (Blogger), note-taking (Google Keep and Jamboard), and photo organizing and editing (Google Photos). The company leads the development of the Android mobile operating system, the Google Chrome web browser, and Chrome OS (a lightweight, proprietary operating system based on the free and open-source Chromium OS operating system). Google has moved increasingly into hardware; from 2010 to 2015, it partnered with major electronics manufacturers in the production of its Google Nexus devices, and it released multiple hardware products in 2016, including the Google Pixel line of smartphones, Google Home smart speaker, Google Wifi mesh wireless router. Google has also experimented with becoming an Internet carrier (Google Fiber and Google Fi).

 Google.com is the most visited website worldwide. Several other Google-owned websites also are on the list of most popular websites, including YouTube and Blogger.[13] On the list of most valuable brands, Google is ranked second by Forbes[14] and fourth by Interbrand.[15] It has received significant criticism involving issues such as privacy concerns, tax avoidance, censorship, search neutrality, antitrust and abuse of its monopoly position.

In [14]:
f.write("fsadasfsa dsaf asf saf")

22

In [15]:
f.close()

In [16]:
f = open("google.txt","r+") # "r+" means it try to open file in writing and reading mode.

In [17]:
f.seek(5)

5

In [18]:
f.write("this is my file write op at 5th locatoin ")

41

In [19]:
f.close()

In [12]:
%ls

 MongoDB/
1#_iNEURON_PYTHON_4DEC_&_5DEC_2021.ipynb
10#_iNEURON_PYTHON_12FEB_&_13FEB_2022.ipynb
10.1#_iNEURON_PYTHON_12FEB_&_13FEB_2022.ipynb
10.2#_iNEURON_PYTHON_12FEB_&_13FEB_2022.ipynb
11#_iNEURON_PYTHON_19FEB_&_20FEB_2022.ipynb
12#_iNEURON_PYTHON_26FEB_&_27FEB_2022.ipynb
2#_iNEURON_PYTHON_18DEC_&_19DEC_2021.ipynb
3#_iNEURON_PYTHON_20DEC_&_21DEC_2021.ipynb
4#_iNEURON_PYTHON_23DEC_2021.ipynb
5#_iNEURON_PYTHON_8JAN_&_9JAN_2022.ipynb
6#_iNEURON_PYTHON_15JAN_&_16JAN_2022.ipynb
7#_iNEURON_PYTHON_22JAN_&_23JAN_2022.ipynb
7.1#_iNEURON_PYTHON_22JAN_&_23JAN_2022.ipynb
8#_iNEURON_PYTHON_29JAN_&_30JAN_2022.ipynb
9#_iNEURON_PYTHON_5FEB_&_6FEB_2022.ipynb
DATA SET/
FILES/
PycharmProjects/
glass.csv
glass.data
google.txt
ineuron.db
jobdb.db
person.db

In [11]:
pwd()

'/Users/aniketsatishjoshi/Downloads/iNeuron/LECTURES'

In [13]:
f = open("google.txt" , "r+")

In [14]:
f.readlines()  # Readlines means it is giving each lines seperatly in list format.

['Googlthis is my file write op at 5th locatoin logy company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware. It is considered one of the Big Five companies in the American information technology industry, along with Amazon, Apple, Meta (Facebook) and Microsoft.[10]\n',
 '\n',
 "Google was founded on September 4, 1998, by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University in California. Together they own about 14% of its publicly-listed shares and control 56% of the stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly-owned subsidiary of Alphabet Inc.. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet.[11]\n",
 '\n',
 'In 2021, the Alphabet Workers Union was founded, mainly composed of Google employees.[12]\n',
 '\n',
 "The company's rapid growth since incorporation has included products, acquisitions, and partnerships beyond Google's core search engine, (Google Search). It offers services designed for work and productivity (Google Docs, Google Sheets, and Google Slides), email (Gmail), scheduling and time management (Google Calendar), cloud storage (Google Drive), instant messaging and video chat (Google Duo, Google Chat, and Google Meet), language translation (Google Translate), mapping and navigation (Google Maps, Waze, Google Earth, and Street View), podcast hosting (Google Podcasts), video sharing (YouTube), blog publishing (Blogger), note-taking (Google Keep and Jamboard), and photo organizing and editing (Google Photos). The company leads the development of the Android mobile operating system, the Google Chrome web browser, and Chrome OS (a lightweight, proprietary operating system based on the free and open-source Chromium OS operating system). Google has moved increasingly into hardware; from 2010 to 2015, it partnered with major electronics manufacturers in the production of its Google Nexus devices, and it released multiple hardware products in 2016, including the Google Pixel line of smartphones, Google Home smart speaker, Google Wifi mesh wireless router. Google has also experimented with becoming an Internet carrier (Google Fiber and Google Fi).\n",
 '\n',
 'Google.com is the most visited website worldwide. Several other Google-owned websites also are on the list of most popular websites, including YouTube and Blogger.[13] On the list of most valuable brands, Google is ranked second by Forbes[14] and fourth by Interbrand.[15] It has received significant criticism involving issues such as privacy concerns, tax avoidance, censorship, search neutrality, antitrust and abuse of its monopoly position.fsadasfsa dsaf asf saf']

In [15]:
len(f.readlines()) # it means there are total 9 lines

0

In [16]:
f.seek(0)

0

In [17]:
len(f.readlines()) # it means there are total 9 lines

9

In [18]:
l = f.readlines()

In [19]:
l

[]

In [20]:
l1  = []
for i in l[0].split():
    l1.append(i[0])

IndexError: list index out of range

In [36]:
l1

[]

In [ ]:
## SOME IMP MODE

r	Only for reading. The pointer is located at the start of file and its a default mode.
rb	Only for reading in a binary format. The pointer is located at the start of file and its a default mode.
r+	To opens a file for the both writing and reading. The pointer is located at the start of file.
rb+	For the both writing and reading operation in binary format. The pointer is located at the start of file.
w	Only for writing. Check for existing file, if its present overwrites in the exists file. If there is no any existing file then, makes a novel file for the writing.
wb	Only for writing in a binary format. Check for existing file, if its present overwrites in the exists file. If there is no any existing file then, makes a novel file for the writing.
w+	For the both writing and reading operation. Check for existing file, if its present overwrites in the exists file. If there is no any existing file then, makes a novel file for the writing and reading.
wb+	For the both writing and reading operation in binary format. Check for existing file, if its present overwrites in the exists file. If there is no any existing file then, makes a novel file for the writing and reading.
a	opens the file for appending; any data written to the file is automatically added to the end. Check for existing file, if its present pointer is set at last of existing file for appending operation. If there is no any existing file then, makes a novel file for the writing.

In [38]:
# to delete file do following steps
import os

In [39]:
os.remove("test2.txt") # file removed

In [40]:
os.getcwd()

'/Users/aniketsatishjoshi'