In [ ]:
# 19th FEB

In [1]:
# Open this following links

# 1. http://localhost:8888/notebooks/Downloads/iNeuron/LECTURES/%20MongoDB/19.3.1%20mongoDB%20introduction.ipynb

# 2. http://localhost:8888/notebooks/Downloads/iNeuron/LECTURES/10%23_iNEURON_PYTHON_12FEB_%26_13FEB_2022.ipynb

# 3. http://localhost:8888/notebooks/Downloads/iNeuron/LECTURES/%20MongoDB/19.3.3%20Atlas.ipynb

In [1]:
# 20th FEB

In [3]:
# SQLITE
# Whenever we hava to store structure data inside the local memory either in pc,laptop or mobile phone sqlite 
# kind of data base is used.

In [4]:
import sqlite3

In [8]:
db=sqlite3.connect("ineuron.db") # "ineuron.db" here we created .db file in which we are going to work.
# In following loction we get the file.
# Downloads/iNeuron/LECTURES/ineuron.db

In [10]:
ls

 MongoDB/
1#_iNEURON_PYTHON_4DEC_&_5DEC_2021.ipynb
10#_iNEURON_PYTHON_12FEB_&_13FEB_2022.ipynb
10.1#_iNEURON_PYTHON_12FEB_&_13FEB_2022.ipynb
10.2#_iNEURON_PYTHON_12FEB_&_13FEB_2022.ipynb
11#_iNEURON_PYTHON_19FEB_&_20FEB_2022.ipynb
12#_iNEURON_PYTHON_26FEB_&_27FEB_2022.ipynb
2#_iNEURON_PYTHON_18DEC_&_19DEC_2021.ipynb
3#_iNEURON_PYTHON_20DEC_&_21DEC_2021.ipynb
4#_iNEURON_PYTHON_23DEC_2021.ipynb
5#_iNEURON_PYTHON_8JAN_&_9JAN_2022.ipynb
6#_iNEURON_PYTHON_15JAN_&_16JAN_2022.ipynb
7#_iNEURON_PYTHON_22JAN_&_23JAN_2022.ipynb
7.1#_iNEURON_PYTHON_22JAN_&_23JAN_2022.ipynb
8#_iNEURON_PYTHON_29JAN_&_30JAN_2022.ipynb
9#_iNEURON_PYTHON_5FEB_&_6FEB_2022.ipynb
DATA SET/
FILES/
PycharmProjects/
glass.csv
glass.data
ineuron.db

In [7]:
# In actual case...
# In SQL we are creating connection with the server in company. But for learing we use local system.
# In SQLITE3 we are creating connection with the local system both for learing and in company.

In [11]:
c = db.cursor()

In [12]:
c.execute('create table fsds(name text, batchid int, marks real)')

In [13]:
c.execute("insert into fsds values('sudh' , 34535 , 454.67)") # INSERT OPERATION

In [14]:
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")

In [15]:
data = c.execute("select * from fsds") # TO FETCH THE DATA.

In [16]:
for i in data:
    print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [17]:
db.commit() # TO SAVE THE DATA permanently.

In [18]:
db.close() 
# If we want to close the databse file which we have allready created.

In [21]:
db = sqlite3.connect("ineuron.db")

In [22]:
c = db.cursor()

In [23]:
data = c.execute("select * from fsds where marks > 400")
for i in data :
    print(i)

In [25]:
data = c.execute("select * from fsds where name = 'sudh' ")
for i in data :
    print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [26]:
data = c.execute("select name , marks from fsds")
for i in data :
    print(i)

('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)

In [27]:
data = c.execute("select name ,marks from fsds order  by marks ")
for i in data :
    print(i)

('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)

In [46]:
db.close()

In [47]:
db = sqlite3.connect("person.db")

In [48]:
c = db.cursor()

In [ ]:
c.execute("create table person_table(name text , emailid text , age int , salary real)")

In [50]:
c.execute("insert into person_table values('sudh' , 'sudhanshu@ineuron.ai' , 234 , 23424)")
c.execute("insert into person_table values('prashant' ,'prashant@ineuron.ai' , 345 , 23543543)")
c.execute("insert into person_table values('krish' , 'krish@ineuron.ai' , 2345 ,34534564)")
c.execute("insert into person_table values('sunnny' ,'sunny@ineuron.ai' , 2354,7789797)")

In [51]:
data = c.execute("select * from person_table")
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('prashant', 'prashant@ineuron.ai', 345, 23543543.0)
('krish', 'krish@ineuron.ai', 2345, 34534564.0)
('sunnny', 'sunny@ineuron.ai', 2354, 7789797.0)
('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('prashant', 'prashant@ineuron.ai', 345, 23543543.0)
('krish', 'krish@ineuron.ai', 2345, 34534564.0)
('sunnny', 'sunny@ineuron.ai', 2354, 7789797.0)

In [52]:
db.commit()

In [53]:
db.close()

In [54]:
db = sqlite3.connect('ineuron.db')

In [55]:
c = db.cursor()

In [ ]:
# c.execute('drop table fsds') # If we execute this it will drop the table.

In [38]:
# c.execute('select * from fsds') # To check weather the operation is done or not.

In [56]:
db.close()

In [57]:
db = sqlite3.connect('person.db')

In [58]:
c = db.cursor()

In [59]:
data  = c.execute('SELECT * from person_table limit 2 ')

In [60]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('prashant', 'prashant@ineuron.ai', 345, 23543543.0)

In [61]:
db.close()

In [62]:
db = sqlite3.connect('jobdb.db')

In [63]:
c = db.cursor()

In [64]:
c.execute('create table student(student_id int , student_name text , student_mailid text , marks int)')

In [65]:
c.execute('create table address(student_id int ,pincode int  , location text , nearby text , phone_no int)')

In [66]:
c.execute("insert into student values(234,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(235,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(236,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(237,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(238,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(239,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2310,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2311,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2343,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(23345,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")

In [67]:
c.execute("insert into address values(235 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(236 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(237 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(238 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(239 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(210 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23654 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(235345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23665 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23609 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23632 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23698 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23690 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [68]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [69]:
for i in c.execute("select * from address"):
    print(i)

(235, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [70]:
data = c.execute("select * from student s left join address a on s.student_id=a.student_id ")
# data = c.execute("select * from address s left join student a on s.student_id=a.student_id ")

In [71]:
for i in data :
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 235, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)

In [72]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [73]:
c.execute('delete from student where student_id > 2000')

In [74]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [75]:
c.execute("update student set student_id = 1000 where student_id = 236")

In [76]:
data = c.execute("select * from student")
data.fetchall()

[(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (1000, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)]

In [77]:
db.close()