In [1]:
list1 = [171,
172,
171,
188,
160,
154,
122,
190,
152,
188]

In [3]:
import pandas as pd

#df = pd.read_csv('filename.csv')

In [4]:
df = pd.DataFrame(list1)

In [9]:
df

     0
0  171
1  172
2  171
3  188
4  160
5  154
6  122
7  190
8  152
9  188

In [5]:
df.skew()

0   -0.968063
dtype: float64

In [7]:
df.kurt()

0    1.139524
dtype: float64